{% extends "layout.html" %}
{% block body %}
<style>
    body {
      background-color: #f4f3ef;
      color: #333;
      font-family: 'Playfair Display', serif;
    }
    .services-container {
      background-color: #eae7dc;
      padding: 20px;
      border-right: 2px solid #d3c1ae;
    }
    .services-container h2 {
      font-family: 'Playfair Display', serif;
      color: #6b705c;
    }
    .services-container ul {
      list-style-type: none;
      padding: 0;
    }
    .services-container ul li a {
      color: #6b705c;
      text-decoration: none;
      font-size: 1.25rem;
      display: block;
      padding: 10px 0;
      height: fit-content;
    }
    .services-container ul li a:hover {
      color: #3a3a3a;
      text-decoration: underline;
    }
    .content-container {
      padding: 20px;
      background-color: #eae7dc;
    }
    #content-container > div {
      display: none; /* Hide all content by default */
    }
    #loginModal {
      display: none;
      margin-top: 10%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

#loginModal-backdrop {
    background-color: rgba(0, 0, 0, 0.886);
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}

    
    
  </style>
  
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-3">
        <div class="services-container" id="client-services">
          <h2>unidentified Dental Information System</h2>
          {% if current_patient is not none %}
            <h3>Hello {{ current_patient.email }}</h3>
          {% else %}
            <h4>Not Signed in</h4>
            <a href="#" onclick="showLogInModal(this)">Click here to sign in!</a>
          {% endif %}
          <ul class="nav flex-column">
            <li class="nav-item"><a href="#" class="nav-link" data-content-id="apointment-scheduling-content">Schedule an Appointment</a></li>
            <li class="nav-item"><a href="#" class="nav-link" data-content-id="doctors-calendar-content">Doctor's Calendar</a></li>
            <li class="nav-item"><a href="#" class="nav-link" data-content-id="medical-history-access-content">Medical History Access</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div id="content-container">
          <div id="apointment-scheduling-content" class="content-container">
            {% include "schedule-appointment.html" %}
          </div>
          <div id="doctors-calendar-content" class="content-container">
            {% include "doctors-appointments.html" %}
          </div>
          <div id="medical-history-access-content" class="content-container">
            {% include "medical-history.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal" id="loginModal" style="display: none;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" onclick="closeLogInModal()">&times;</button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form action="/client-signin" method="post" class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" name="email" id="email" required>
                        <div class="invalid-feedback">Please enter your email.</div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                        <div class="invalid-feedback">Please enter your password.</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <a href="/registration-page">Not Registered yet? Create a new account here!</a>
            </div>

        </div>
    </div>
  </div>



<script>
    function showLogInModal() {
        var modal = document.getElementById("loginModal");
        modal.style.display = 'block';
   
    }

      function closeLogInModal() {
        var modal = document.getElementById("loginModal");
        modal.style.display = 'none';
    }

</script>

<script>
    let calendar = null
    function handleCalendarLinkClick(event) {
        event.preventDefault(); // Prevent the link from navigating away
        fetchAndRenderCalendar(); // Call your calendar function
    }
    document.addEventListener('DOMContentLoaded', function(){
        const contentContainer = document.getElementById("content-container");
        const serviceLinks = document.querySelectorAll(".services-container ul li a");
        serviceLinks.forEach(link => {
            link.addEventListener("click", function (e) {
                e.preventDefault();
                const contentId = link.getAttribute("data-content-id");
                displayContent(contentId);
            });
        });

        function displayContent(contentId) {
            // Hide all content elements
            document.querySelectorAll("#content-container > div").forEach(content => {
                content.style.display = "none";
            });

            // Display the selected content
            const selectedContent = document.getElementById(contentId);
            selectedContent.style.display = "block";
            if (contentId === 'doctors-calendar-content') {
                fetchAndRenderCalendar(); // This function will render the calendar
            }
        }
        function fetchAndRenderCalendar() {
            var calendarEl = document.getElementById('calendar');
            axios.get('/api/appointments')
            .then(function(response) {
                // Check if the calendar instance already exists
                if (!calendar) {
                    calendar = new FullCalendar.Calendar(calendarEl, {
                        plugins: ['interaction', 'dayGrid', 'timeGrid'],
                        defaultView: 'dayGridMonth',
                        eventRender: function(info) {
                            var date = info.event.start;
                            var currentDate = new Date();
                            if (date.getDate() === currentDate.getDate() &&
                            date.getMonth() === currentDate.getMonth() &&
                            date.getFullYear() === currentDate.getFullYear()) {
                                info.el.style.backgroundColor = 'yellow';
                                info.el.style.color = 'red';
                            }
                        }
                    });
                    calendar.render();
                }

                // Update the events of the existing calendar
                calendar.removeAllEvents(); // Clear existing events
                calendar.addEventSource(response.data); // Add new events
                calendar.refetchEvents(); // Redraw the calendar
                calendar.updateSize(); // Update the calendar size

                console.log('calendar updated');
            })
            .catch(function(error) {
                console.error('Error fetching data:', error);
            });
        }
    });
</script>

{% endblock %}
